body{
    background-image: url("https://i.pinimg.com/originals/cd/0a/6f/cd0a6f8dd1d1dde49b0b97e35710c45e.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    background-image: url("https://i.pinimg.com/originals/45/6e/39/456e39a7b0d48698605a9dac1b29729a.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
}